<?xml version="1.0"?>
<robot name="test_urdf">

    <material name="black">
        <color rgba="0 0 0 1.0" />
    </material>

    <link name="map">
        <visual>
            <origin rpy="0.0 0 0" xyz="0 0 0"/>
        </visual>
    </link>

    <link name="test">
        <visual>
            <origin rpy="0.0 0 0" xyz="0 0 0"/>
            <geometry>
                <mesh filename="package://${description_pkg}/meshes/visual/${name}.dae" />
            </geometry>
            <material name="black" />
        </visual>
        <collision>
            <origin rpy="0 0 0" xyz="0 0 0" />
            <geometry>
                <mesh filename="package://franka_description/meshes/collision/${name}.stl" />
            </geometry>
        </collision>
    </link>

    <joint name="map_to_test" type="fixed">
        <parent link="map"/>
        <child link="test"/>
    </joint>
 
</robot>